<div class="mb-6">
    <h3 class="font-medium mb-2">Renk</h3>
    <div class="space-y-2">
        <label class="flex items-center">
            <input type="checkbox" class="mr-2 w-5 h-5 accent-primary">
            <span>Kırmızı</span>
        </label>
        <label class="flex items-center">
            <input type="checkbox" class="mr-2 w-5 h-5 accent-primary">
            <span>Mavi</span>
        </label>
        <label class="flex items-center">
            <input type="checkbox" class="mr-2 w-5 h-5 accent-primary">
            <span>Siyah</span>
        </label>
        <label class="flex items-center">
            <input type="checkbox" class="mr-2 w-5 h-5 accent-primary">
            <span>Beyaz</span>
        </label>
        <label class="flex items-center">
            <input type="checkbox" class="mr-2 w-5 h-5 accent-primary">
            <span>Yeşil</span>
        </label>
    </div>
</div>
