<div class="w-64 bg-secondary text-white flex flex-col">
    <div class="p-5 text-xl font-bold border-b border-gray-700">
        Admin Paneli
    </div>
    <nav class="flex-1">
        <a href="/Admin/Index" class="block py-3 px-4 hover:bg-gray-700">Anasayfa</a>
        <a href="/Admin/Category/Index/" class="block py-3 px-4 hover:bg-gray-700">Kategori</a>
        <a href="/Admin/Product/Index/" class="block py-3 px-4 hover:bg-gray-700">ProductList</a>
        <a href="/Admin/Product/ProductListWithCategory/" class="block py-3 px-4 hover:bg-gray-700">Ürünler Kategori İle</a>
        <a href="/Admin/SpecialOffer/Index/" class="block py-3 px-4 hover:bg-gray-700">Teklifler</a>
        <a href="/Admin/FeatureSlider/Index/" class="block py-3 px-4 hover:bg-gray-700">Slider</a>
        <a href="/Admin/Comment/Index/" class="block py-3 px-4 hover:bg-gray-700">Comments</a>
        <a href="/Default/Index" class="block py-3 px-4 hover:bg-gray-700">Go Site</a>
    </nav>
</div>