 <!-- Title ve Breadcrumb -->
<div class="bg-white py-3 px-6 shadow-sm flex items-center justify-between">
    <!-- Sol tarafta Başlık -->
    <h2 class="text-2xl font-semibold text-gray-700">@ViewBag.titlee</h2>

    <!-- Sağ tarafta Breadcrumb -->
    <nav class="text-gray-600 text-sm">
        <a href="#" class="hover:underline">@ViewBag.v1</a>
        <span class="mx-2">></span>
        <a href="#" class="hover:underline">@ViewBag.v2</a>
        <span class="mx-2">></span>
        <span class="text-gray-500">@ViewBag.v3</span>
    </nav>
</div>