@model UpdateCommentDto
@{
    ViewData["Title"] = "UpdateComment";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<main class="flex-1 p-6">
    @await Component.InvokeAsync("_AdminLayoutMainSectionViewbagComponentPartial")
    <div class="bg-white h-full p-6">
        <!-- Başlık -->
        <h2 class="text-2xl font-bold mb-4 text-wht-800">Kategori Güncelle</h2>
        <!-- Form - soldan başlayan, genişleyen tasarım -->
        <form method="post" class="w-full bg-white rounded-lg shadow-md p-6">

            <div>
                <input type="hidden"
                       readonly
                       asp-for="UserCommentId"
                       class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
            </div>     
            
            <div>
                <input type="hidden"
                       readonly
                       asp-for="ProductId"
                       class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
            </div>

            <div class="mb-4">
                <label for="comment" class="block text-gray-700 text-sm font-bold mb-2">
                    User Name Surname :
                </label>
                <input type="text"
                       asp-for="NameSurname"
                       class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                       placeholder="Name Surname">
            </div>

            <div class="mb-4">
                <label for="comment" class="block text-gray-700 text-sm font-bold mb-2">
                    User Image :
                </label>
                <input type="text"
                       asp-for="ImageUrl"
                       class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                       placeholder="Placeholder Url">
            </div>

            <div class="mb-4">
                <label for="comment" class="block text-gray-700 text-sm font-bold mb-2">
                    User Mail :
                </label>
                <input type="text"
                       asp-for="Email"
                       class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                       placeholder="Placeholder Email">
            </div>

            <div class="mb-4">
                <label for="comment" class="block text-gray-700 text-sm font-bold mb-2">
                    User Rating :
                </label>
                <input type="number"
                       asp-for="Rating"
                       class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                       placeholder="Placeholder Rating">
            </div>

            <div class="mb-4">
                <label for="comment" class="block text-gray-700 text-sm font-bold mb-2">
                    User Comment Date :
                </label>
                <input type="date"
                       asp-for="CreatedDate"
                       class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                       placeholder="Placeholder Date">
            </div>

            <div class="mb-4">
                <label for="commentdetail" class="block text-gray-700 text-sm font-bold mb-2">
                    User Comment :
                </label>
                <textarea asp-for="CommentDetail"
                          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                          placeholder="Enter Comment Detail"
                          rows="4"></textarea>
            </div>

            <div class="mt-6">
                <button type="submit"
                        class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-6 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-200">
                    Kaydet
                </button>
            </div>

        </form>
    </div>
</main>
