@model List<ResultCategoryDto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme2</title>

    <div>
        @foreach (var item in Model)
        {
            <div>
                <h1>@item.CategoryId</h1>
                <p>@item.CategoryName</p>
            </div>
        })
    </div>
</head>
<body>
</body>
</html>
