@model List<ResultCategoryDto>
@{
    Layout = null;
}

<div>
    <br />
    <br />
    <table>
        <tr>
            <th>Category Name</th>
            <th>Product Count</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
            </tr>
        }
    </table>
</div>
