@model UpdateProductDetailDto
<div id="description" class="tab-content p-4">
    <h2 class="text-xl font-semibold mb-4">Ürün Özellikleri</h2>
    <p class="mb-4">
       @Model.ProductDescription
    </p>
   
    <table class="w-full text-sm">
        <tr>
            <td class="py-2 font-medium">Genel Özellikler</td>
            <td class="py-2">iPhone 13 Pro, 256GB, A15 Bionic, 6.1" Super Retina XDR, Ceramic Shield</td>
        </tr>
        <tr>
            <td class="py-2 font-medium">Ekran</td>
            <td class="py-2">6.1 inç OLED, 2532 x 1170 piksel, ProMotion 120Hz</td>
        </tr>
        <tr>
            <td class="py-2 font-medium">Kamera</td>
            <td class="py-2">Üçlü arka kamera, 12 MP (ana, ultra geniş, telefoto)</td>
        </tr>
    </table>
</div>
